body{	
	background-color: rgba(210, 255, 214, 0.658);
}
#body {
	text-align: center;
}

#row {
	white-space: nowrap;
}

#slides {
	position:relative;
	overflow:hidden;
	display:inline-block;
	white-space: nowrap;
	letter-spacing:-10px;
}

#frame {
	width:400px;
	overflow:hidden;
	display:inline-block;
	white-space: nowrap;
}



.buttons {
	vertical-align: top;
}

.images {
	width:200px;
}

@media screen and (min-width: 800px) {
	#frame {
		width:800px;
		overflow:hidden;
		display:inline-block;
		white-space: nowrap;
	}